<header>
    <div class="headerDiv">
        <div class="box">
            <img class=logo src="assets/img/logo.png">
        </div>

        <div class="box">
            <div class="centerBox">
                <form class="form-inline waves-light" mdbWavesEffect>
                    <div class="md-form mt-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Musikartist">
                    </div>
                </form>
            </div>
        </div>

        <div class="box">
            <div class="centerBox">
                <button>Vergleich</button>
            </div>
        </div>



    </div>

</header>