.card {
    float: left;
    background: white;
    box-sizing: border-box;
    padding: 25px;
    height: 400px;
    button {
        float: right;
    }
}

.card2 {
    background: white;
    box-sizing: border-box;
    padding: 25px;
    height: 400px;
    button {
        float: right;
    }
}