<div class="standard-card card">
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Musikartist" #box>
        </div>
    </form>
    <button (click)="getValue(box.value)">Suchen</button>

    <p>Name des Artist: {{name[0]}}</p>
    <p>Zuhörer: {{listener[0]}}</p>
    <p>Streams: {{playCount[0]}}</p>
    <p>Gründung: {{published[0]}}</p>
    <p>Zusammenfassung: {{summary[0]}}</p>
</div>

<div class="standard-card card2">
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Musikartist" #box2>
        </div>
    </form>
    <button (click)="getValue2(box2.value)">Suchen</button>

    <p>Name des Artist: {{name[1]}}</p>
    <p>Zuhörer: {{listener[1]}}</p>
    <p>Streams: {{playCount[1]}}</p>
    <p>Gründung: {{published[1]}}</p>
    <p>Zusammenfassung: {{summary[1]}}</p>
</div>