<div class="standard-card card">
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Musikartist" #box>
        </div>
    </form>
    <button (click)="getValue(box.value)">Suchen</button>

    <p>Name des Artist: {{compareArtist[0].name}}</p>
    <p>Zuhörer: {{compareArtist[0].listener}}</p>
    <p>Streams: {{compareArtist[0].playcount}}</p>
    <p>Gründung: {{compareArtist[0].published}}</p>
    <p>Zusammenfassung: {{compareArtist[0].summary}}</p>
    <p *ngFor="let i of [0,1,2,3,4]">{{genre1[i]}}</p>
</div>

<div class="standard-card card2">
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Musikartist" #box2>
        </div>
    </form>
    <button (click)="getValue2(box2.value)">Suchen</button>

    <p>Name des Artist: {{name[1]}}</p>
    <p>Zuhörer: {{listener[1]}}</p>
    <p>Streams: {{playCount[1]}}</p>
    <p>Gründung: {{published[1]}}</p>
    <p>Zusammenfassung: {{summary[1]}}</p>
    <p *ngFor="let i of [0,1,2,3,4]">{{genre2[i]}}</p>
</div>