<div class="standard-card card">
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Musikartist" #box>
        </div>
    </form>
    <button (click)="getValue2(box.value)">Suchen</button>

    <p>Name des Artist</p>
    <p>Zuhörer</p>
    <p>Streamws</p>
</div>

<div class="standard-card card2">
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Musikartist" #box2>
        </div>
    </form>
    <button (click)="getValue2(box2.value)">Suchen</button>

    <p>Name des Artist</p>
    <p>Zuhörer</p>
    <p>Streamws</p>
</div>