<app-header (messageEvent)="getMessage('Wunder')"></app-header>



<div *ngIf="!receivedChildMessage">
    <div *ngIf="!selectedArtist">
        <div class="flexrow">
            <div class="container">
                <select (change)="selectedChangeHandler($event)">
            <option *ngFor="let country of countries">{{country}}</option>
        </select>

                <app-artist-card *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]" [text]='artist[i].name' [picture]='artist[i].picture' [listeners]='artist[i].listeners' (click)="onSelectedArtist(artist[i].name)">
                </app-artist-card>
            </div>
        </div>
    </div>

    <div *ngIf="selectedArtist">
        <app-artist-detail [artist]='detailArtist' [tracks]='track' [alben]='album'></app-artist-detail>
        <app-proposals [similar]="nearlyArtist"></app-proposals>
        <div>
            <button (click)="returnSelectedItem()">Zurück</button>
        </div>
    </div>
</div>
<div *ngFor=" let post of posts ">
    <h1>{{post.artists.artist.name}}</h1>
    <p>{{post.artists.artist.playcount}}</p>
</div>
<div *ngIf="receivedChildMessage">
    <app-compare-screen></app-compare-screen>
    <button (click)="returnToMain()">Zurück</button>
</div>