<app-header></app-header>



<div class="flexrow">
    <div class="container">
        <button (click)="loadGermany()">Deutschland</button>
        <button (click)="loadPosts()">Spanien</button>
        <button (click)="loadFrance()">Frankreich</button>
        <app-cat-card *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]" [text]='catPostText[i]' [picture]='catPictures[i]' [listeners]='listeners[i]'>
        </app-cat-card>
    </div>

    <app-proposals></app-proposals>
</div>

<div *ngFor="let post of posts">
    <h1>{{post.artists.artist.name}}</h1>
    <p>{{post.artists.artist.playcount}}</p>
</div>