.left {
    float: left;
    width: 45%;
    margin-right: 2%;
    padding: 20px;
    background: #eee;
    box-sizing: border-box;
}

.right {
    float: right;
    width: 45%;
    margin-right: 2%;
    padding: 20px;
    background: #eee;
    box-sizing: border-box;
}

.text {
    padding-top: 100px;
}